body{
  text-align: Center;
  background: rgb(245,252,0);
background: linear-gradient(90deg, rgba(245,252,0,1) 10%, rgba(26,255,0,1) 24%, rgba(255,0,0,1) 41%, rgba(0,232,255,1) 60%, rgba(0,44,255,1) 83%, rgba(244,0,255,1) 91%, rgba(249,114,255,1) 100%);
  background-repeat: no repeat;
}
.text{
  font-family: 'Playball',Cursive;
    font-size: 20

 
}
img{
  border-radius:100%;
  width:200px 
}
#div{
  font-size:35px;
  
}
#Menu{
    list-style: none;
    font-family: cursive;
    position: absolute;
    display: inline;
    top: 30px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    color: black;
}
.links:hover{
    background-color: gold;
}